.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.porsche {
  display: flex;
  align-items: center;
  font-size: 36px;
}

.porsche img {
  width: 7rem;
  height: 4rem;
}

.links {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 2rem;
}

.cartIcon {
  width: 2rem;
  height: 2rem;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}
