.shopContent{
    border-top: 0.5rem solid black;
    box-shadow: 0px 0px 10px black;
}

.shopGrid{
    padding-top: 1rem;
    padding-left: 1rem;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1rem;
}