.shoppingCart {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  background-color: black;
  right: 0;
}

.shoppingCart .exitButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.shoppingHeader{
  background-color: gray;
  height: 5rem;
  display: flex;
  align-items: center;
}

.listItem{
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carImg{
  width: 30%;
  height: auto;
}

.empty{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
