:root {
  --main-font: "Outfit", sans-serif;
  --custom-blue: rgb(0, 80, 133);
}
.shoppingCart {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  background-color: black;
  right: 0;
  z-index: 1;
}

.shoppingCart .exitButton {
  font-family: var(--main-font, sans-serif);
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 50%;
  background-color: black;
  border: 0;
  color: white;
  font-size: 20px;
}

.shoppingHeader {
  background: radial-gradient(circle, rgba(177,43,40,1) 0%, rgba(67,41,24,1) 100%);
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
}

